<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Set.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>1FAAF939D2B4BBA6D737D41E2B742441F1C99F53</string>
				<key>dateExpires</key>
				<string>1/31/20</string>
				<key>type</key>
				<string>iOS Development</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>6WA6Y7KBQJ.edu-SJSU-CMPE137.Set</string>
				<key>com.apple.developer.team-identifier</key>
				<string>6WA6Y7KBQJ</string>
				<key>get-task-allow</key>
				<true/>
				<key>keychain-access-groups</key>
				<array>
					<string>6WA6Y7KBQJ.edu-SJSU-CMPE137.Set</string>
				</array>
			</dict>
			<key>name</key>
			<string>Set.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>d34f5c62-61d7-4094-b668-e1638e168d34</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: *</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>6WA6Y7KBQJ</string>
				<key>name</key>
				<string>THE WINDOW SPECIALISTS</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
